# Dependencies
node_modules/
**/node_modules/

# Production
dist/
**/dist/

# Env files
.env
**/.env

# IDE / System
.DS_Store
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
